<h1>Playgame#score</h1>
<!-- <p>Find me in app/views/playgame/score.html.erb</p> -->

<p>******** Now your result ********</p>
<p>Your word: <%= @attempt %></p>
<p>Time Taken to answer: <%= @result[:time] %></p>
<p>Translation: <%= @result[:translation] %></p>
<p>Your score: <%= @result[:score] %></p>
<p>Message: <%= @result[:message] %></p>

<p>*****************************************************</p>
